venv
.idea
.env
/db.sqlite3
/staticfiles/
/media/catalogue/
/media/catalogue_item/
/media/
*/__pycache__/*

templates/test_paypal_subscription.html
templates/test_paypal_fund_button.html

__pycache__



# pyflow
__pypackages__/

# Environment
.env
.venv
env/
venv/
ENV/
test_json.json
.env-production