venv
.idea
users/migrations
/jobs/migrations/
/catalogues/migrations/
/blogs/migrations/
/messages/migrations/
.env
/db.sqlite3
/categorys/migrations/
/staticfiles/
/media/catalogue/
/media/catalogue_item/
/media/
/memberships/migrations/
